.banner{
    position: absolute;
    width: 1300px;
    height: 600px;
    right: 0px;
    background: #F2CEA2;
}

.mainbanner__foto{
    position: absolute;
    top:40px;
    margin-left: -1080px;
    width: 1350px;
    height: 530px;
}

h3{
    position: absolute;
    top: 120px;
    float:right;
    right: 170px;
    font-family: Poppins;
    font-weight: 250;
    font-size: 50px;
    color: #282727;   
}
/*
.rayita{
    position: absolute;
    float: right;
    width: 380px;
    height: 10px;
    left: 90px;
    top: 245px;
    background: rgba(217, 115, 123, 0.53);
}*/

hr {
    position: relative;
    top:280px;
    left: 150px;
    height: 20px;
    width: 50%;
    background-color: rgba(217, 115, 123, 0.53);
    border: none;
  }


h2{
    position: absolute;
    left: 535px;
    top: 185px;
    font-family: Meddon;
    font-style: normal;
    font-weight: normal;
    font-size:60px;
    color: #282727;

}
h4{
    position: absolute;
    width: 500px;
    height: 41px;
    left: 560px;
    top: 340px;
    float: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 109%;
    text-align: center;
    color: #282727;    
}

.conoce{
    position: absolute;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    left: 725px;
    top: 450px;
    background: #E59E8D;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    
    color: #FFFFFF;
}
