.contact{
    display: flex;
}

.contact__kactucontact{
    margin: 0px 0px 30px 400px;

/*    padding: 0px;
    justify-contact: space-between;*/
}

.contact__square{
    width: 700px; 
    height: 70px; 
    line-height: 70px;
    border: 2px solid $kactu-color;
    text-align: center;
    font-family: $specially-font;
    color: $kactu-color;
    font-size: 32px;
}

.contact__line{
    height: 10px;
    width: 216%;
    background-color: $primary-color;
    border: none;
    margin: -35px 0px 0px -400px;
}