.galery__mesagge{
    width: 650px;
    height: 89px;
    background: $primary-color;
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    margin-top:35px;
    justify-content: center;
    align-items: flex-end;
    float: right;
}
.galery__photo{
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 200px 0px 80px 115px;
    
}
.galery__six{
    width: 403px;
    height: 350px;
    margin:0px 0px 0px 20px;
    padding: 10px 0px;
}
