.galery__mesagge{
    width: 650px;
    height: 89px;
    background: $primary-color;
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
    align-items: flex-end;
}

.galery__main{
    display: flex;
    margin: 50px auto;
}

/*.galery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px 100px;
}*/

.galery__photo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 170px;
  
}

.galery__six{
    width: 330px;
    height: 310px;
    margin: 0px;
}
