.search{
    text-decoration: none;
    float:right;
    width: 80px;
    height: 40px;
    background: $primary-color;
    color: white;
    font-size: 10px;
    text-align: center;
    border: 2px solid ;
    cursor: pointer;
    margin-right: 100px;
    border-radius: 10px;
    border: none;
    margin: 5px;
}

.search__input{
    font-family: $primary-font;
    font-size: 15px;
    border: 1px solid rgb(255, 255, 255);
    float: right;
    width: 250px;
    height: 40px;
    background: #f1f1f1;
    text-align: center;
    border-radius: 8px;
    margin: 5px;
}

.lupa{
    width: 20px;
    height: 25px;
    justify-content: center;
}

.mainnav__search{
    margin-top: 10px;
}