.mainheader__search {
  text-decoration: none;
  float: right;
  width: 65px;
  height: 35px;
  background: #F2CEA2;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  margin: 20px 0px;
}

.mainheader__input {
  font-family: "Poppins";
  font-size: 12px;
  border: 1px solid white;
  float: right;
  width: 200px;
  height: 35px;
  background: #f1f1f1;
  text-align: center;
  border-radius: 8px;
  margin: 20px 10px;
}

.mainheader__lupa {
  width: 20px;
  height: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainheader__button {
  margin-top: 10 px;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner__foto {
  width: 50%;
  margin-top: 40px;
}

.banner__textalign {
  margin-left: 300px;
}

.banner__text {
  position: absolute;
  right: 0px;
  width: 1000px;
  height: 460px;
  background-color: #F2CEA2;
  z-index: -1;
}

.banner__h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 250;
  font-size: 30px;
  color: #282727;
  text-align: right;
  margin: 120px 135px 0px 0px;
}

.banner__h2 {
  font-family: "Meddon";
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  color: #282727;
  margin: -54px 0px 0px 170px;
}

.banner__h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #282727;
  line-height: 50px;
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.conoce {
  width: 200px;
  height: 35px;
  border-radius: 8px;
  margin: auto;
  background: #E59E8D;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
}

hr {
  height: 10px;
  width: 60%;
  background-color: #E59E8D;
  border: none;
  margin: 40px 0px 0px 140px;
}

body, html {
  margin: 0px;
}

.mainheader {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #faf3f3;
}

.mainheader__logo {
  width: 180px;
}

.mainheader__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainheader__container {
  width: 300px;
}

.mainheader__link {
  position: absolute;
  font-family: "Shadows Into Light";
  font-size: 40px;
  text-align: center;
  color: #434F73;
  text-decoration: none;
  top: 80px;
}

.mainnav__link {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 14px;
  line-height: 72px;
  color: #747373;
  margin: auto 20px;
  left: 250px;
  top: 100px;
}

.mainheader__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainheader__icon {
  width: 70px;
  padding-left: 270px;
  margin-top: 10px;
  cursor: pointer;
}

.publicity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-position: center center;
  padding: 50px 0px 0px 0px;
  overflow: hidden;
  position: relative;
}

@media (max-width: width 414px) {
  .publicity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    height: auto;
  }
}

/*
.slider{
}
.slider__strip{

}
.slider__img{

    // background-size: cover;
    // background-color: red;
    // background-image: url(/images/perro-beso-1024x576.webp);
}*/
.publicity__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  right: 25px;
  margin-top: 100px;
  width: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}

.publicity__button1 {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: none;
}

.publicity__button2 {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: none;
}

.publicity__img {
  padding: 50px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.publicity__imagen {
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
}

/*
.publicity__mesagge{
    position: relative;
    width: 788px;
    height: 89px;
    background: $primary-color;
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    margin-top:100px;
    display: flex;
    justify-content: center;
}

.publicity__textalign{
    text-align: left;
    & div{
        display: flex;
    }
}

.publicity__typeh1{
    font-family: $primary-font;
    font-weight: bold;
    font-size: 85px;
    color: $neutro-color; 
    white-space: nowrap;
    margin-top:500px;
    margin-bottom: 0px;
    line-height: 75px;
    margin-right: 150px;
    text-align: end;
}

.publicity__typeh2{
    font-family: $primary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color: $neutro-color;
    margin: 10px 15px 0px 0px;
}

.publicity__typeh3{
    font-family: $primary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color: $neutro-color;
    margin: 10px 10px 0px 15px;
}

.hr-vertical{
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 0px;
    border:none;
    height: 35px;
    width:15px;   
}

.publicity__typeh4{
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    color: $neutro-color;
    background: $decoration-color;
    margin-top: 25px;
    width: 210px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    margin-right: 155px;
}

.publicity__typeh5{
    background:$decoration-color;
    width: 350px;
    height: 35px;
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 35px;
    text-align: center;
    color:$neutro-color;
    margin: -10px 0px 20px 0px;
}

.publicity__button{   
    margin: 0px 0px 20px 0px;
}
.publicity__search{
    width: 100px;
    height: 35px;  
    border: none;
    background: #F2EBDF;
    justify-content: end;
    float: right;
    cursor: pointer;    
    margin: -55px 155px 50px 0px;
}

.publicity__buy{
    justify-content: center;
    z-index: -1;
    width: 20px;
    height: 25px;

}*/
.coleccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px;
}

.coleccion__square {
  width: 700px;
  height: 70px;
  line-height: 70px;
  border: 2px solid #434F73;
  text-align: center;
  font-family: "Meddon";
  color: #434F73;
  font-size: 32px;
}

.coleccion__line {
  height: 10px;
  width: 110%;
  background-color: #F2CEA2;
  border: none;
  margin: -35px 0px 0px -30px;
}

.content__shinepalette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/*strawberry*/
.content__strawberry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 25px 0px 0px;
}

.content__strawberry button {
  background: none;
}

.content__img1 {
  width: 350px;
}

.content__tittle1 {
  font-family: "Poppins";
  font-size: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  margin: 0px 0px 0px 0px;
}

.content__icon1 {
  width: 32px;
  float: right;
  margin: 5px 0px 0px 0px;
}

.content__shine1 {
  font-family: "Poppins";
  font-size: 19px;
  font-style: normal;
  font-weight: 250;
  margin: 0px 0px 0px 0px;
}

.content__des1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin: 5px 0px 0px 0px;
}

.content__price1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin: 0px 0px 0px 0px;
  float: right;
}

.content__bag1 {
  width: 350px;
  height: 35px;
  margin: 0px 0px 10px 0px;
  line-height: 35px;
  font-family: "Poppins";
  border: 2px solid #434F73;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.content__bag1:hover {
  background: #e6ebfa;
}

/*Orange*/
.content__orange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 25px 0px 0px;
}

.content__orange button {
  background: none;
}

.content__img2 {
  width: 350px;
}

.content__tittle2 {
  font-family: "Poppins";
  font-size: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  margin: 0px 0px 0px 0px;
}

.content__icon1 {
  width: 32px;
  float: right;
  margin: 5px 0px 0px 0px;
}

.content__shine2 {
  font-family: "Poppins";
  font-size: 19px;
  font-style: normal;
  font-weight: 250;
  margin: 0px 0px 0px 0px;
}

.content__des2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin: 0px 0px 0px 0px;
}

.content__price2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin: 5px 0px 0px 0px;
  float: right;
}

.content__bag2 {
  width: 350px;
  height: 35px;
  margin: 0px 0px 10px 0px;
  line-height: 35px;
  font-family: "Poppins";
  border: 2px solid #434F73;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.content__bag2:hover {
  background: #e6ebfa;
}

/*Honey*/
.content__honey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 25px 0px 0px;
}

.content__honey button {
  background: none;
}

.content__img3 {
  width: 350px;
}

.content__tittle3 {
  font-family: "Poppins";
  font-size: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  margin: 0px 0px 0px 0px;
}

.content__icon1 {
  width: 32px;
  float: right;
  margin: 5px 0px 0px 0px;
}

.content__shine3 {
  font-family: "Poppins";
  font-size: 19px;
  font-style: normal;
  font-weight: 250;
  margin: 0px 0px 0px 0px;
}

.content__des3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin: 0px 0px 0px 0px;
}

.content__price3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin: 5px 0px 0px 0px;
  float: right;
}

.content__bag3 {
  width: 350px;
  height: 35px;
  margin: 0px 0px 10px 0px;
  line-height: 35px;
  font-family: "Poppins";
  border: 2px solid #434F73;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.content__bag3:hover {
  background: #e6ebfa;
}

.galery__mesagge {
  width: 650px;
  height: 89px;
  background: #F2CEA2;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.galery__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto;
}

/*.galery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px 100px;
}*/
.galery__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 170px;
}

.galery__six {
  width: 350px;
  height: 310px;
  margin: 0px;
}

.product__main {
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__text {
  float: left;
  padding: 55px 0px;
}

.product__h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 250;
  font-size: 25px;
  color: #282727;
  margin: 0px 0px 0px 200px;
}

.product__line {
  height: 10px;
  width: 55%;
  background-color: #E59E8D;
  border: none;
  margin: 0px 0px 0px 150px;
}

.product__h3 {
  font-family: "Meddon";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: #282727;
  margin: -10px 0px 0px 220px;
}

.product__tips {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  padding: 5px 0px;
  margin: 0px 0px 0px 0px;
  -ms-flex-line-pack: justify;
      align-content: justify;
  padding: 10px 100px;
}

.product__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px 30px 0px;
}

.product__photo {
  float: right;
  background: #E59E8D;
  width: 800px;
  height: 540px;
  padding: 0px 0px 0px 20px;
}

.product__gif {
  width: 800px;
  height: 550px;
  padding: 20px 0px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px;
}

.contact__square {
  width: 700px;
  height: 70px;
  line-height: 70px;
  border: 2px solid #434F73;
  text-align: center;
  font-family: "Meddon";
  color: #434F73;
  font-size: 32px;
}

.contact__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10px;
  width: 110%;
  background-color: #E59E8D;
  border: none;
  margin: -35px 0px 0px -30px;
}

.block__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*block head*/
.block__logo {
  width: 180px;
}

.block__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}

.block__contact {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  color: #E59E8D;
  text-decoration: none;
  margin: 50px 0px 0px 0px;
}

.block__desp {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #282727;
  margin: 5px 0px 0px 0px;
}

/*block body*/
.block__body input {
  color: #E59E8D;
}

.block__body input::-webkit-input-placeholder {
  color: #E59E8D;
}

.block__body input:-ms-input-placeholder {
  color: #E59E8D;
}

.block__body input::-ms-input-placeholder {
  color: #E59E8D;
}

.block__body input::placeholder {
  color: #E59E8D;
}

/*block body1*/
.block__body1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block__name {
  font-family: "Poppins";
  width: 300px;
  height: 50px;
  border: 2px solid #E59E8D;
  margin: 0px 25px 25px 0px;
  padding: 0px 20px;
  color: #E59E8D;
}

.block__number {
  font-family: "Poppins";
  width: 300px;
  height: 50px;
  border: 2px solid #E59E8D;
  padding: 0px 20px;
  color: #E59E8D;
}

/*block body2*/
.block__body2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block__email {
  font-family: "Poppins";
  height: 50px;
  border: 2px solid #E59E8D;
  padding: 0px 20px;
  color: #E59E8D;
}

.block__message {
  font-family: "Poppins";
  height: 200px;
  border: 2px solid #E59E8D;
  color: #E59E8D;
  margin: 25px 0px 25px 0px;
  padding: 0px 20px;
}

/*send*/
.block__finish button {
  background: none;
  color: #E59E8D;
}

.block__send {
  width: 350px;
  height: 35px;
  margin: 0px 0px 20px 0px;
  line-height: 35px;
  font-family: "Poppins";
  border: 2px solid #E59E8D;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.block__send:hover {
  background: #f5edeb;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px;
  background: #faf3f3;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*footer body*/
.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #faf3f3;
  padding: 25px 0px;
}

/*product*/
.footer__politics {
  margin: 0px 200px 0px 0px;
}

.footer__ph2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #282727;
}

.footer__ph3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #282727;
}

.footer__ph4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #282727;
}

.footer__ph5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #282727;
  margin: 0px auto;
}

/*service*/
.footer__service {
  margin: 0px 200px 0px 0px;
}

.footer__sh2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #282727;
}

.footer__sh3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #282727;
}

.footer__sh4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #282727;
}

.footer__sh5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #282727;
  margin: 0px auto;
}

/*contact*/
.footer__contact {
  margin: 0px 0px 0px 0px;
}

.footer__ch2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #282727;
}

.footer__ch3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #282727;
}

.footer__ch4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #282727;
}

.footer__ch5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #282727;
  margin: 0px auto;
}
/*# sourceMappingURL=main.css.map */