.fondo{
    position: absolute;
    width: 825px;
    height: 540px;
    left: 694px;
    float: left;
    background: #F2CEA2;
}
h3{
    position: absolute;
    top: 150px;
    float:right;
    right: 70px;
    font-family: Poppins;
    font-weight: 250;
    font-size: 30px;
    color: #282727;   
}

.rayita{
    position: relative;
    float: right;
    width: 380px;
    height: 10px;
    left: -90px;
    top: 245px;
    background: rgba(217, 115, 123, 0.53);
}
h2{
    position: absolute;
    left: 10px;
    top: -65px;
    font-family: Meddon;
    font-style: normal;
    font-weight: normal;
    font-size:40px;
    color: #282727;

}
h4{
    position: absolute;
    width: 362px;
    height: 41px;
    left: 360px;
    top: 280px;
    float: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 109%;
    text-align: center;
    color: #282727;    
}

.conoce{
    position: absolute;
    width: 140px;
    height: 30px;
    float: left;
    left: 1180px;
    top: 600px;
    background: #E59E8D;
}
h2[type="1"]{
    position: absolute;
    float: left;
    left: 25px;
    top: -8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
}