.mainlist__link{
    position: relative;
    text-decoration: none;
    font-family: Poppins;
    font-size: 16px;
    line-height: 24px;
    color: #747373;
    padding: 20px 10px;
    left: 300px;
    top: -80px;
}