*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body, html {
    margin: 0px;
  }

/*
    header
*/
.mainheader {
    background-color: #faf3f3;
    height: 200px;
}  
.mainheader__logo{
    position: relative;
    left: 100px;
    width: 188px;
    height: 202px;
    float: left;
}
.mainheader__iconos{
    position: absolute;
    right: 80px;
    width: 68px;
    height: 47px;
    top:20px;
    margin: right;
}

.mainheader__link{
    position: absolute;
    font-family: Shadows Into Light;
    font-size:45px;
    line-height: 72px;
    text-align: center;
    color: #434F73;
    text-decoration: none;
    top: 80px;
    float: left;
    left: 230px;
    padding: 0px;
}

/*
    nav
*/

.mainnav__link{
    position: relative;
    text-decoration: none;
    font-family: Poppins;
    font-size: 18px;
    line-height: 24px;
    color: #747373;
    padding: 20px 50px;
    left: 250px;
    top: 80px;
}

/*
    search
*/

.search{
    position: relative;
    font-family: Poppins;
    text-decoration: none;
    float:right;
    width: 80px;
    height: 40px;
    background: rgb(41, 2, 31);
    color: white;
    font-size: 10px;
    text-align: center;
    border: 2px solid ;
    cursor: pointer;
    margin-right: 100px;
    top:80px;
    right: 70px;
    border-radius: 10px;
    border: none;
    margin: 5px;
}

.search__input{
    position: relative;
    font-family: Poppins;
    font-size: 14px;
    border: 1px solid rgb(216, 215, 215);
    float: right;
    width: 220px;
    height: 40px;
    background: #ffffff;
    text-align: center;
    border-radius: 8px;
    top:80px;
    right: 70px;
    margin: 5px;
    border: none;
}

/*
    banner
*/
.fondo{
    position: absolute;
    width: 825px;
    height: 540px;
    left: 694px;
    float: left;
    background: #F2CEA2;
}
h3{
    position: absolute;
    top: 150px;
    float:right;
    right: 70px;
    font-family: Poppins;
    font-weight: 250;
    font-size: 30px;
    color: #282727;   
}

.rayita{
    position: relative;
    float: right;
    width: 380px;
    height: 10px;
    left: -90px;
    top: 245px;
    background: rgba(217, 115, 123, 0.53);
}
h2{
    position: absolute;
    left: 10px;
    top: -65px;
    font-family: Meddon;
    font-style: normal;
    font-weight: normal;
    font-size:40px;
    color: #282727;

}
h4{
    position: absolute;
    width: 362px;
    height: 41px;
    left: 360px;
    top: 280px;
    float: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 109%;
    text-align: center;
    color: #282727;    
}

.conoce{
    position: absolute;
    width: 140px;
    height: 30px;
    float: left;
    left: 1180px;
    top: 600px;
    background: #E59E8D;
}
h2[type="1"]{
    position: absolute;
    float: left;
    left: 25px;
    top: -8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
}